@charset "utf-8";
body {
    font: normal 12pt Time New Romam;
    background-color: blue;
}
h1, h2, h3, h4 {
    color: #ffffff;
    font-size: 23px;
    margin-bottom: 0px;
    border-left: solid 5px #ffffff;
    padding-left: 5px;
    margin-left: 77px;
}
h2, h3, h4 {
    margin-top: 0px;
}
h5, h6 {
    text-align: center;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 17px;
}
img {
    display: block;
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
}
p#iframe {
    text-align: center;
    font-size: 12px;
}
article {
    background-color: #ffffff;
    width: 450px;
    border: solid 1px black;
    margin: 10px auto 10px auto;
}
table {
    border-collapse: collapse;
    margin: 10px auto 10px auto;
}
tr, th, td {
    border: solid 1px black;
}