@charset "utf-8";
body {
    font: normal 20pt Arial;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
img {
    display: block;
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
}
p#iframe {
    text-align: center;
}
article {
    width: 450px;
    border: solid 1px black;
    margin: 10px auto 10px auto;
}
table {
    border-collapse: collapse;
    margin: 10px auto 10px auto;
}
tr, th, td {
    border: solid 1px black;
}